*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
}
.row {
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0;
    justify-content: center;
    gap: 1100px;
}
.house-repair {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.house-repair .house-repair-text {
    padding: 150px 0 0 0;
    text-align: left;
    flex: 1;
    width: 60%;
    margin: 0 0 0 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.house-repair-text .house {
    font-size: 3.75rem;
    letter-spacing: 3px;
    font-weight: 300;
    font-style: normal;
    word-wrap: break-word;
}
.house-repair-text .services {
    font-size: 6rem;
    font-weight: 700;
    word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.house-repair-text .line {
    height: 10px;
    border-style: solid;
    border-width: 5px;
    font-size: 1rem;
    width: 600px;
}
.book-now {
    text-align: center;
    background-color: #f2f2f2;
   
}
.book-now-text .our {
      font-weight: 400;
      letter-spacing: 2px;
      padding-top: 150px;
}
.book-now-text .how {
    font-weight: 700;
    font-size: 3.125rem;
    width: 780px;
    margin: 20px auto 0
}
.book-now-text .we {
    font-size: 1.25rem;
    font-weight: 300;
    width: 780px;
    margin: 30px auto 0;
}
.book-now-text .book-button {
    color: white;
    background-color: #e71a23;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    border-style: solid;
    margin: 30px auto 60px;
    padding: 16px 36px;
    border-radius: 3px;
}
.need-help-section {
    text-align: center;
    margin: 60px 70px 40px 70px;
}
.need-help-section .need-help {
  display: flex;
  flex-direction: row;
}
.need-help .first-need-help {
    text-align: center;
    width: 48%;
}
.need-help .first-need-help .first-text {
    font-size: 1rem;
    margin: auto auto;
    padding: 40px 60px;
}
.need-help .second-need-help {
  text-align: left;
  width: 48%;
  margin-top: 30px;
}
.call-us {
   color: #e71a23;
   font-size: 1.875rem;
   word-wrap: break-word;
   margin: 10px 1px 60px 1px;
}
.need {
    font-weight: 700;
    font-size: 2.25rem;
    padding: 20 60 20 0;
}
.second-need-help .plumbing-2 {
    border-top: 30px;
}
.best-quality {
    width: 100%;
    height: 90vh;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/grey\ background.jpg');
}
.best-quality .best {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 104.5;
    justify-content: center;
}
.best-picture {
    width: 50%;
    position: relative;
    flex: 1;
    max-width: 100%;
}
.best-text {
    width: 50%;
    text-align: left;
}
.best-text .best-heading {
    font-size: 4.5rem;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    margin: 135px 0 0 0;
    color: #104e92;
    word-wrap: break-word;
}
.best-text .best-line {
    height: 9px;
    border-style: solid;
    border-width: 5px;
    font-size: 1rem;
    width: 600px;
    transform-origin: left center;
    margin: 30px auto 0 0;
    border-color: #e71a23;
}
.best-text .company {
    font-size: 1.25rem;
    margin: 30px 0 30px 0;
    word-wrap: break-word;
}
.best-text .best-button {
    color: white;
    background-color: #e71a23;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    border-style: solid;
    padding: 16px 36px;
    border-radius: 3px;
    justify-content: center;
}
.our-services-section {
    width: 100%;
}
.our-services-section .our-services {
    width: 80%;
    margin: 0 0 0 7rem;
}
.our-services .our-services-heading {
      text-align: left;
      font-size: 2.125rem;
      line-height: 1.1;
      margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    word-wrap: break-word;
    margin: 60px 0px 0 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.our-services .our-services-row {
     display: flex;
     flex-direction: row;
     text-align: center;
}
.our-services .our-services-row1,
.our-services .our-services-row2,
.our-services .our-services-row3{
    padding: 30px;
}
.handy-man  {
    margin: 10px 0;
}
.plumbing-section {
   width: 100%;
   background-color: #104e92;
   color: white;
}
.plumbing-section .plumbing {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 0 0 0 150px;
}
.plumbing .plumbing-text {
   width: 50%;
   border: 15px solid transparent;
   text-align: left;
   padding: 30px;
   margin: 70px 0;
}
.plumbing-text .plumbing-about-us {
    letter-spacing: 2px;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
}
.plumbing-text .plumbing-plumbing {
    line-height: 1;
    margin: 10px 0 0 0;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 90px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.plumbing-text .plumbing-services {
    font-weight: bold;
    font-size: 90px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.plumb-pic1 {
    width: 50%;
    border: 15px;
    margin: 15px;
}
.plumbing .plumbing-pic {
   width: 50%;
   margin: 80px 0;
}
.plumbing-pic-row1 {
    display: flex;
    flex-direction: row;
}
.plumbing-pic-row2 {
    display: flex;
    flex-direction: row;
}
.to-do-section {
    text-align: center;
    width: 100%;
}
.to-do-section .to-do {
    width: 60%;
    margin: 35px 0 45px 265px;
    display: flex;
    flex-direction: column;
}
.to-do .to-do-list{
    padding: 30px;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.1;
    word-wrap: break-word;
}
.to-do .to-do-mission{
    font-size: 1.875rem;
    font-weight: 300;
    margin: 13px 0 0 0;
    word-wrap: break-word;
}
.to-do-section .to-do-button {
     display: flex;
     text-align: center;
     justify-content: center;
     margin-top: 20px;
}
.to-do-section .to-do-red {
    color: white;
    background-color: #e71a23;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    border-style: unset;
    padding: 16px 36px;
    border-radius: 3px;
    justify-content: center;
    margin: 0 12px 0 0;
}
.to-do-section .to-do-white {
    background-color: white;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    border-style: solid;
    padding: 16px 44px;
    border-radius: 3px;
    justify-content: center;
}
.grey-area-section {
      width: 100%;
      background-color: #333333;
      color: white;
}
.grey-area-section .grey-area{
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 25px 0;
}
.grey-area .grey-area-text .sample-text {
    margin: 49px auto;
    font-size: 0.875rem;
    word-wrap: break-word;
}
.grey-area .link{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 1em;
    font-size: 0.8rem;
    margin: 30px auto;
}
.link .real-link {
     color: #abcff7;
}
.link .link-text {
    margin: 0 5px;
}
