*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
}
.row {
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0;
    justify-content: center;
    gap: 1100px;
}
.house-repair {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.house-repair .house-repair-text {
    padding: 150px 0 0 0;
    text-align: left;
    flex: 1;
    width: 60%;
    margin: 0 0 0 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.house-repair-text .house {
    font-size: 3.75rem;
    letter-spacing: 3px;
    font-weight: 300;
    font-style: normal;
    word-wrap: break-word;
}
.house-repair-text .services {
    font-size: 6rem;
    font-weight: 700;
    word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.house-repair-text .line {
    height: 10px;
    border-style: solid;
    border-width: 5px;
    font-size: 1rem;
    width: 600px;
}
.book-now {
    text-align: center;
    background-color: #f2f2f2;
   
}
.book-now-text .our {
      font-weight: 400;
      letter-spacing: 2px;
      padding-top: 150px;
}
.book-now-text .how {
    font-weight: 700;
    font-size: 3.125rem;
    width: 780px;
    margin: 20px auto 0
}
.book-now-text .we {
    font-size: 1.25rem;
    font-weight: 300;
    width: 780px;
    margin: 30px auto 0;
}
.book-now-text .book-button {
    color: white;
     background-color: red;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    border-style: solid;
    margin: 30px auto 60px;
    padding: 16px 36px;
}
.need-help-section {
    text-align: center;
    margin: 60px 70px 40px 70px;
}
.need-help-section .need-help {
  display: flex;
  flex-direction: row;
}
.need-help .first-need-help {
    text-align: center;
    width: 48%;
}
.need-help .first-need-help .first-text {
    font-size: 1rem;
    margin: auto auto;
    padding: 40px 60px;
}
.need-help .second-need-help {
  text-align: left;
  width: 48%;
  margin-top: 30px;
}
.call-us {
   color: #e71a23;
   font-size: 1.875rem;
   word-wrap: break-word;
   margin: 10px 1px 60px 1px;
}
.need {
    font-weight: 700;
    font-size: 2.25rem;
    padding: 20 60 20 0;
}
.second-need-help .plumbing-2 {
    border-top: 30px;
}
.best-quality {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../img/billionphotos1079319min.png');
    background-repeat: no-repeat;
    background-size: cover;